#header-right {
  text-align: right;
  font-weight: bold;
}

img {
  width: 75px;
  height: auto;
}

#local-time {
  font-weight: bold;
}

#user-name {
  font-weight: bold;
}

header {
  background: #E5ECEB;
  color: #010202;
  font-family: 'Lato', sans-serif;
}

html {
  background: #E5ECEB;
  color: #010202;
  font-family: 'Lato', sans-serif;
}

.arrow {
  width: 80px;
  height: auto;
}

#next-job-text {
  text-align: right;
}

#toggle-screen-bar {
  margin: auto;
}
